<div class="row no-gutters">
  <div class="col border-right">
    <div class="dropdown-header">Productivity</div>
    <a class="dropdown-item{% if slug === 'projects' %} active{% endif %}" href="{{ prefix or '' }}projects.html">Projects</a>
    <a class="dropdown-item{% if slug === 'tasks-board' %} active{% endif %}" href="{{ prefix or '' }}tasks-board.html">Tasks Board</a>
    <a class="dropdown-item{% if slug === 'tasks-list' %} active{% endif %}" href="{{ prefix or '' }}tasks-list.html">Tasks List</a>
    <!-- <a class="dropdown-item disabled{% if slug === 'kanban' %} active{% endif %}" href="{{ prefix or '' }}kanban.html">Kanban</a>
    <a class="dropdown-item disabled{% if slug === 'task-details' %} active{% endif %}" href="{{ prefix or '' }}task-details.html">Task Details</a>
    <a class="dropdown-item disabled{% if slug === 'team-members' %} active{% endif %}" href="{{ prefix or '' }}team-members.html">Team Members</a> -->

    <!-- <div class="dropdown-header">Marketplace</div>
    <a class="dropdown-item disabled{% if slug === 'digital-product' %} active{% endif %}" href="{{ prefix or '' }}digital-product.html">Digital 
    Product</a> -->

    <div class="dropdown-header">eCommerce</div>
    <a class="dropdown-item{% if slug === 'ecommerce' %} active{% endif %}" href="{{ prefix or '' }}ecommerce.html">Shop Dashboard</a>
    <!-- <a class="dropdown-item disabled{% if slug === 'edit-product' %} active{% endif %}" href="{{ prefix or '' }}edit-product.html">Edit Product</a> -->
  </div>

  <div class="col border-right">
    <div class="dropdown-header">Enterprise</div>
    <a class="dropdown-item{% if slug === 'erp-dashboard' %} active{% endif %}" href="{{ prefix or '' }}erp-dashboard.html">ERP Dashboard</a>
    <a class="dropdown-item{% if slug === 'crm-dashboard' %} active{% endif %}" href="{{ prefix or '' }}crm-dashboard.html">CRM Dashboard</a>
    <a class="dropdown-item{% if slug === 'hr-dashboard' %} active{% endif %}" href="{{ prefix or '' }}hr-dashboard.html">HR Dashboard</a>
    <a class="dropdown-item{% if slug === 'employees' %} active{% endif %}" href="{{ prefix or '' }}employees.html">Employees</a>
    <a class="dropdown-item{% if slug === 'staff' %} active{% endif %}" href="{{ prefix or '' }}staff.html">Staff</a>
    <a class="dropdown-item{% if slug === 'leaves' %} active{% endif %}" href="{{ prefix or '' }}leaves.html">Leaves</a>
    <!-- <a class="dropdown-item disabled{% if slug === 'departments' %} active{% endif %}" href="{{ prefix or '' }}departments.html">Departments</a>
    <a class="dropdown-item disabled{% if slug === 'documents' %} active{% endif %}" href="{{ prefix or '' }}documents.html">Documents</a>
    <a class="dropdown-item disabled{% if slug === 'attendance' %} active{% endif %}" href="{{ prefix or '' }}attendance.html">Attendance</a>
    <a class="dropdown-item disabled{% if slug === 'recruitment' %} active{% endif %}" href="{{ prefix or '' }}recruitment.html">Recruitment</a>
    <a class="dropdown-item disabled{% if slug === 'payroll' %} active{% endif %}" href="{{ prefix or '' }}payroll.html">Payroll</a>
    <a class="dropdown-item disabled{% if slug === 'training' %} active{% endif %}" href="{{ prefix or '' }}training.html">Training</a>
    <a class="dropdown-item disabled{% if slug === 'employee-profile' %} active{% endif %}" href="{{ prefix or '' }}employee-profile.html">Employee Profile</a>
    <a class="dropdown-item disabled{% if slug === 'accounting' %} active{% endif %}" href="{{ prefix or '' }}accounting.html">Accounting</a>
    <a class="dropdown-item disabled{% if slug === 'inventory' %} active{% endif %}" href="{{ prefix or '' }}inventory.html">Inventory</a> -->
  </div>

  <div class="col border-right">
    <div class="dropdown-header">Messaging</div>
    <a class="dropdown-item{% if slug === 'messages' %} active{% endif %}" href="{{ prefix or '' }}messages.html">Messages</a>
    <a class="dropdown-item{% if slug === 'email' %} active{% endif %}" href="{{ prefix or '' }}email.html">Email</a>

    <div class="dropdown-header">Community</div>
    <a class="dropdown-item{% if slug === 'faq' %} active{% endif %}" href="{{ prefix or '' }}faq.html">FAQ</a>
    <a class="dropdown-item{% if slug === 'discussions' %} active{% endif %}" href="{{ prefix or '' }}discussions.html">Discussions</a>
    <a class="dropdown-item{% if slug === 'discussion' %} active{% endif %}" href="{{ prefix or '' }}discussion.html">Discussion Details</a>
    <a class="dropdown-item{% if slug === 'discussions-ask' %} active{% endif %}" href="{{ prefix or '' }}discussions-ask.html">Ask Question</a>
  </div>

  <div class="col">
    <div class="dropdown-header">CMS</div>
    <a class="dropdown-item{% if slug === 'cms-dashboard' %} active{% endif %}" href="{{ prefix or '' }}cms-dashboard.html">CMS Dashboard</a>
    <a class="dropdown-item{% if slug === 'posts' %} active{% endif %}" href="{{ prefix or '' }}posts.html">Posts</a>

    <!-- <div class="dropdown-header">Education</div>
    <a class="dropdown-item disabled{% if slug === 'apps' %} active{% endif %}" href="{{ prefix or '' }}index.html">Student Dashboard</a>
    <a class="dropdown-item disabled{% if slug === 'apps' %} active{% endif %}" href="{{ prefix or '' }}index.html">Teacher Dashboard</a>
    <a class="dropdown-item disabled{% if slug === 'apps' %} active{% endif %}" href="{{ prefix or '' }}index.html">Course</a>
    <a class="dropdown-item disabled{% if slug === 'apps' %} active{% endif %}" href="{{ prefix or '' }}index.html">Lesson</a>
    <a class="dropdown-item disabled{% if slug === 'apps' %} active{% endif %}" href="{{ prefix or '' }}index.html">Add Course</a> -->
  </div>
</div>