{% extends 'layouts/account.html' %}

{% block page %}
<div class="{{ containerClass or 'container' }}">
  <form action="{{ prefix or '' }}edit-account.html">
    <div class="row">
      <div class="col-lg-9 pr-lg-0">
        {{ super() }}
      </div>
      <div class="col-lg-3 page-nav">
        <div class="page-section pt-lg-112pt">
          <nav class="nav page-nav__menu">
            <a class="nav-link{% if slug === 'edit-account' %} active{% endif %}" href="{{ prefix or '' }}edit-account.html">Basic Information</a>
            <a class="nav-link{% if slug === 'edit-account-profile' %} active{% endif %}" href="{{ prefix or '' }}edit-account-profile.html">Profile &amp; Privacy</a>
            <a class="nav-link{% if slug === 'edit-account-notifications' %} active{% endif %}" href="{{ prefix or '' }}edit-account-notifications.html">Email Notifications</a>
            <a class="nav-link{% if slug === 'edit-account-password' %} active{% endif %}" href="{{ prefix or '' }}edit-account-password.html">Change Password</a>
          </nav>
          <div class="page-nav__content">
            <button type="submit" class="btn btn-accent">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}